.prod {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}

.prod__info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.prod__trash {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.prod__trash:hover g {
    fill: #777;
}

.prod__nombre__container {
    align-self: flex-start;
}

.prod__info__año {
    color: #777;
}

.prod__qandp {
    display: flex;
    align-items: center;
    gap: 20px;
}

.prod__btn__container {
    display: flex;
    gap: 20px;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0 10px;
    height: 50px;
}

.prod__btn {
    cursor: pointer;
}

.prod__eliminar {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 1080px) {
    .prod__img {
        width: 80px;
        height: 100px;
    }

    .prod__info__nombre {
        font-size: 18px;
    }

    .prod__info__año {
        font-size: 14px;
    }

    .prod__btn__container {
        gap: 14px;
        height: 45px;
        border-radius: 8px;
    }

    .prod__btn__cant {
        font-size: 14px;
    }

    .prod__btn {
        height: 12px;
        width: auto;
    }

    .prod__precio {
        font-size: 18px;
    }
}

@media screen and (max-width: 560px) {
    .prod {
        flex-direction: column;
    }

    .prod__info {
        flex-direction: column-reverse;
    }

    .prod__nombre__container {
        text-align: center;
    }

    .prod__info__nombre {
        font-size: 16px;
    }

    .prod__eliminar {
        display: block;
        color: rgb(0, 60, 255)
    }

    .prod__eliminar:hover {
        color: #09f;
    }

    .prod__trash {
        display: none;
    }

    .prod__img {
        width: 120px;
        height: 150px;
    }
}