@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: #014D0D;
    font-family: 'Source Sans Pro', sans-serif;
}