/* Sección Hero */

.hero {
  height: 65vh;
  background-image: linear-gradient(180deg, #014d0c69 0%, #014D0D69 100%), url(../assets/images/homepage/dyj-vs-peñarol-3.webp);
  background-position: top;
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.hero__titulo {
  color: #fff;
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 3px;
  font-size: 48px;
  margin-bottom: 40px;
}

.sponsors {
  padding: 11px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsors__h4{
  color: #fff;
  font-size: 30px;
  margin-right: 10px;
  line-height: 0;
}

.container {
  background-color: #014D0D;
  width: 100%;
}

.main {
  background-color: #fff;
  width: 95%;
  margin: 0 auto;
  border-radius: 50px;
}

@media screen and (max-width: 960px) {
  .hero {
    background-image: linear-gradient(180deg, #014d0c69 0%, #014D0D69 100%), url(../assets/images/homepage/dyj-vs-peñarol.webp);
    background-position: center;
  }
  
  .hero__titulo {
    padding: 0 20px;
    font-size: 36px;
    margin-bottom: 40px;
  }

  .sponsors {
    flex-wrap: wrap;
  }

  .main {
    border-radius: 30px;
    overflow: hidden;
  }

}

@media screen and (max-width: 475px) {
  .hero__titulo {
    padding: 0 20px;
    font-size: 32px;
    margin-bottom: 40px;
  }

  .main {
    width: 100%;
    border-radius: 0;
  }
}