/* Sección Hero */

.hero {
  height: 65vh;
  background-image: linear-gradient(180deg, #014d0c69 0%, #014D0D69 100%), url(../assets/images/homepage/dyj-vs-peñarol-3.webp);
  background-position: top;
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.hero__titulo {
  color: #fff;
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 3px;
  font-size: 48px;
  margin-bottom: 40px;
}

.sponsors {
  padding: 11px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsors__h4{
  color: #fff;
  font-size: 30px;
  margin-right: 10px;
  line-height: 0;
}

.container {
  background-color: #014D0D;
  width: 100%;
}

.main {
  background-color: #fff;
  width: 95%;
  margin: 0 auto;
  border-radius: 50px;
}

/* Novedades */

.novedades {
  padding: 40px;
  display: grid;
  grid-template-areas: "title title"
                       "article1 article1"
                       "article2 article2"
                       "article3 article3";
  gap: 40px;
  border-bottom: 1px solid #D4D4D4;
}

.novedades__titulo {
  grid-area: title;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 2px;
  font-size: 36px;
  text-align: center;
}

.novedades__article1:hover,
.novedades__article2:hover,
.novedades__article3:hover {
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.25);
}

.novedades__article1 {
  grid-area: article1;
}

.novedades__article2 {
  grid-area: article2;
}

.novedades__article3 {
  grid-area: article3;
}

.novedades__article3,
.novedades__article2,
.novedades__article1 {
  border: 1px solid #D4D4D4;
  display: grid;
  max-height: 500px;
  grid-template-areas: "image titulo"
                       "image texto"
                       "image texto";
}

.novedades__article__image {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  grid-area: image;
}

.novedades__article3 .novedades__article__image {
  height: 100%;
  width: 100%;
}

.novedades__article__titulo {
  text-align: center;
  font-size: 28px;
  padding: 20px;
  font-family: 'Bebas Neue', sans-serif;
}

.novedades__article3 .novedades__article__titulo {
  text-align: start;
  width: 80%;
  padding: 40px 0;
  margin: 0 auto;
}

.novedades__article__texto {
  width: 80%;
  margin: 0 auto;
  color: #666666;
  margin-bottom: 20px;
}

/* Defensa Store */

.store {
  padding: 40px;
  display: grid;
  grid-template-areas: "titulo titulo"
                       "article1 article2"
                       "link link";
  border-bottom: 1px solid #D4D4D4;
  justify-items: center;
}

.store__titulo {
  grid-area: titulo;
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 2px;
  font-size: 36px;
}

.store__article1, .store__article2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 410px;
  height: 280px;
  border: 1px solid #D4D4D4;
}

.store__article__image {
  height: 280px;
  width: fit-content;
  border-right: 1px solid #D4D4D4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.store__article__name {
  text-align: center;
}

.store__article__btn {
  padding: 10px 0;
  width: 90%;
  align-self: self-end;
  font-size: 18px;
  font-weight: 700;
  margin: 0 auto;
  margin-bottom: 10px;
  color: #014D0D;
  border: 4px solid #014D0D;
  background-color: #ffffff00;
  cursor: pointer;
  transition: all .4s ease;
}

.store__article__btn:hover {
  background-color: #014D0D;
  color: #ffffff;
  transition: all .4s ease;
}

.store__link {
  grid-area: link;
  color: rgb(0, 60, 255);
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  padding: 20px;
  transition: all .4s ease;
}

.store__link:hover {
  color: #09f;
  transition: all .4s ease;
}

.store__article1 {
  grid-area: article1;
}

.store__article2 {
  grid-area: article2;
}

/* Youtube */

.youtube {
  padding: 40px;
  border-bottom: 1px solid #D4D4D4;
  display: grid;
  gap: 10px;
  place-items: center;
}

.youtube__titulo {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 2px;
  font-size: 36px;
}

.video__container {
  border-bottom: 1px solid #D4D4D4;
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-areas: "titulo titulo imagen"
                       "btn btn imagen";
}

.video__titulo {
  grid-area: titulo;
  justify-self: self-start;
  font-size: 22px;
}

.video__btn {
  grid-area: btn;
  justify-self: self-start;
  text-decoration: none;
  color: #000;
  height: fit-content;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 1px solid #8B8B8B;
  background-color: #D9D9D977;
  cursor: pointer;
}

.video__btn:hover {
  background-color: #D9D9D9cc;
}

.video__btn__text {
  font-size: 18px;
  font-weight: 600;
}

.video__image {
  grid-area: imagen;
  justify-self: self-end;
  width: 380px;
  height: auto;
}

.youtube__link {
  padding: 20px 0;
  text-align: center;
  text-decoration: none;
  color: #09f;
}

.youtube__link:hover {
  color: rgb(0, 76, 255);
}

/* copas */

.copas {
  padding: 40px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.linea_verde {
  width: 100%;
  height: 40px;
  background-color: #006c11;
}

.linea_amarilla {
  padding: 20px;
  background-color: #FFD600;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
  font-weight: 700;
}

@media screen and (max-width: 960px) {
  .hero {
    background-image: linear-gradient(180deg, #014d0c69 0%, #014D0D69 100%), url(../assets/images/homepage/dyj-vs-peñarol.webp);
    background-position: center;
  }
  
  .hero__titulo {
    padding: 0 20px;
    font-size: 36px;
    margin-bottom: 40px;
  }

  .sponsors {
    flex-wrap: wrap;
  }

  .main {
    border-radius: 30px;
  }

  /* Novedades */

  .novedades {
    grid-template-areas: "title title"
                         "article1 article2"
                         "article3 article3";
    gap: 20px;
  }

  .novedades__titulo {
    font-size: 32px;
    text-align: center;
  }

  .novedades__article__titulo {
    text-align: center;
    font-size: 24px;
    padding: 10px;
  }

  .novedades__article1, 
  .novedades__article2 {
    max-height: fit-content;
    width: 95%;
    grid-template-areas: "image"
                         "title"
                         "text";
  }

  .novedades__article2 {
    margin-left: 5%;
  }

  /* Defensa Store */
  .store {
    padding: 20px;
    grid-template-areas: "titulo"
                         "article1" 
                         "article2"
                         "link";
    margin-bottom: 1px solid #D4D4D4;
    gap: 20px;
    justify-items: center;
  }

  .store__titulo {
    font-size: 32px;
  }

  .store__article1, .store__article2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 400px;
    height: 240px;
    border: 1px solid #D4D4D4;
  }
  
  .store__article__image {
    height: 240px;
    width: fit-content;
    border-right: 1px solid #D4D4D4;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  /* Youtube */

  .youtube {
    padding: 40px 20px;
    gap: 10px;
  }
  
  .youtube__titulo {
    font-size: 32px;
  }
  
  .video__titulo {
    grid-area: titulo;
    justify-self: self-start;
    font-size: 18px;
  }
  
  .video__btn {
    padding: 10px;
    gap: 7px;
  }
  
  .video__btn__text {
    font-size: 15px;
  }
  
  .video__image {
    grid-area: imagen;
    justify-self: self-end;
    width: 200px;
    height: auto;
  }

  /* copas */

.copas {
  padding: 40px 20px;
  width: 100%;
  margin: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.copa__container {
  min-width: 280px;
}

.linea_verde {
  width: 100%;
  height: 30px;
}

.linea_amarilla {
  padding: 10px;
  gap: 10px;
  font-size: 20px;
}
}

@media screen and (max-width: 475px) {
  .hero__titulo {
    padding: 0 20px;
    font-size: 32px;
    margin-bottom: 40px;
  }

  .main {
    width: 100%;
    border-radius: 0;
  }

  /* Novedades */

  .novedades {
    padding: 40px 0;
    place-items: center;
    grid-template-areas: "title"
                         "article1" 
                         "article2"
                         "article3";
  }

  .novedades__titulo {
    font-size: 24px;
    text-align: center;
  }

  .novedades__article__titulo {
    text-align: center;
    font-size: 18px;
    padding: 10px;
  }

  .novedades__article3 {
    max-height: fit-content;
    width: 95%;
    grid-template-areas: "image"
                         "title"
                         "text";
  }

  .novedades__article2 {
    margin-left: 0;
  }

  .novedades__article__texto {
    font-size: 15px;
    width: 90%;
  }

  /* Defensa Store */

  .store {
    gap: 20px;
    align-items: center;
  }

  .store__titulo {
    font-size: 24px;
  }

  .store__article1, .store__article2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr 50px;
    width: 90%;
    height: 100%;
  }
  
  .store__article__image {
    height: fit-content;
    width: 100%;
    border-right: none;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  /* Youtube */

  .youtube {
    padding: 40px 20px;
  }
  
  .youtube__titulo {
    font-size: 24px;
  }
  
  .video__container {
    width: 100%;
    padding: 10px;
    display: grid;
    place-items: center;
    grid-template-areas: "imagen"
                         "titulo"
                         "btn";
  }
  
  .video__titulo {
    justify-self: center;
    text-align: center;
  }
  
  .video__btn {
    justify-self: center;
    padding: 10px;
    gap: 5px;
  }
  
  .video__btn__text {
    font-size: 15px;
  }
  
  .video__image {
    width: 100%;
    height: auto;
  }

  .youtube__link {
    font-size: 15px;
  }

    /* copas */

  .copas {
    padding: 40px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .copa__logo {
    width: 25px;
    height: 50px;
  }

  .copa__container {
    min-width: none;
  }

  .linea_verde {
    padding: 5px;
    width: 88%;
    height: 20px;
  }

  .linea_amarilla {
    padding: 5px;
    width: 88%;
    gap: 10px;
    font-size: 18px;
  }
}