.carrito {
    width: 100%;
    margin: 100px auto;
}

.carrito__container {
    background-color: #fff;
    border-radius: 25px;
    margin: 0 auto;
    padding: 1px 40px 40px;
    width: 80%;
}

.carrito__titulo {
    font-size: 48px;
    text-align: center;
}

.carrito__precio__container {
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: flex-end;
}

.carrito__precio {
    font-size: 32px;
    letter-spacing: -2px;
    color: #555;
}

.carrito__precio span {
    letter-spacing: 2px;
    font-weight: 600;
    color: #000;
    margin-left: 20px;
}

.carrito__btn__container {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.carrito__productos {
    font-size: 24px;
}

.carrito__productos span {
    font-weight: 600;
}

.carrito__btn {
    padding: 20px;
    font-size: 20px;
    border-radius: 20px;
    border: 0;
    font-weight: 600;
    background: #ffd600;
    color: #014d0d;
    cursor: pointer;
    transition: all .3s ease;
}

.carrito__btn:hover {
    background: #014d0d;
    color: #ffd600;
    transition: all .3s ease;
}

@media screen and (max-width: 1080px) {
    .carrito__container {
        width: 90%;
        padding: 10px 15px;
    }

    .carrito__titulo {
        font-size: 36px;
    }

    .carrito__precio {
        font-size: 28px;
    }
}

@media screen and (max-width: 560px) {
    .carrito__container {
        width: 100%;
        padding: 10px 0;
    }

    .carrito__btn__container {
        padding: 30px;
        display: flex;
        flex-direction: column;
    }

    .carrito__productos {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .carrito__precio__container {
        width: 100%;
        justify-content: center;
    }

    .carrito__precio {
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}